---
import Card from "./ProjectCard.astro";
import data from "../data/data.json";
---

<section
  class="h-auto pt-20 p-4 w-full xl:w-[1120px] flex flex-col justify-center gap-5"
  id="proyectos"
>
  <h2
    class="text-4xl font-extrabold leading-tight tracking-tight text-orange-400 sm:text-5xl"
  >
    Proyectos
  </h2>

  <!-- Timeline -->
  <div
    class="w-full flex flex-col items-center justify-center gap-5"
    id="timeline"
  >
    {
      data.projects.map((project) => (
        <Card
          title={project.title}
          link={project.demo}
          description={project.description}
          date={project.date}
          technologies={project.technologies}
        />
      ))
    }
  </div>
</section>
